:root {
  --button-color: #2468ff;
  --main-text-color: #ffffff;
  --secondary-text-color: #404040;
  --main-bg-color: #161f49;
  --bg-color: rgba(0, 0, 0, 0.5);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.4;

  color: var(--secondary-text-color);
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.journal-quote {
  background-color: #404040;
}

.title-quote {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 42px;
  line-height: 1.14;
  text-align: center;
}

.potential {
  background-color: var(--main-bg-color);
}
.potential-title {
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: var(--main-text-color);
}

.potential-text {
  color: var(--main-text-color);
}

.button {
  color: var(--main-text-color);
  background-color: var(--button-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.11px;
  text-transform: uppercase;
}

.connectivity {
  text-align: center;
}

.connectivity-title {
  font-size: 50px;
  line-height: 1.2;
}
.promo-bar {
  font-size: 14px;
  line-height: 1.64;
  text-align: center;
  letter-spacing: 0.10998px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);

  padding-top: 5px;
  padding-bottom: 5px;
}

.logo-nav {
  display: block;
  padding-top: 16px;
  padding-bottom: 17px;
  padding-left: 36px;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 195px;
}

.nav-link {
  color: var(--secondary-text-color);
}

.nav-item:not(:last-child) {
  margin-right: 37px;
}

.header-container {
  display: flex;
}

.nav {
  display: flex;
}

.nav-button {
  margin-left: auto;
}
