<section class="potential">
    <div class="container">
        
    </div>
    <div class="potential__slider">

        <div class="potential__slide potential__slide--first">
            <h2 class="potential-title">
                Unlock your wifi’s potential.
            </h2>
            <p class="potential-text">
                Both eero 6 and eero Pro 6 feature a built-in Zigbee smart home hub, making it easy to connect compatible
                devices with
                Alexa. So you can control certain lights, locks, plugs, and more—without the need to buy separate smart home
                hubs for
                each.
            </p>
            <a href="#" class="button">Learn More</a>
            
        </div>
        <div class="potential__slide potential__slide--second">
            <h2 class="potential-title">
                Unlock your wifi’s potential.
            </h2>
            <p class="potential-text">
                Both eero 6 and eero Pro 6 feature a built-in Zigbee smart home hub, making it easy to connect compatible
                devices with
                Alexa. So you can control certain lights, locks, plugs, and more—without the need to buy separate smart home
                hubs for
                each.
            </p>
            <a href="#" class="button">Learn More</a>
            
        </div>
        <div class="potential__slide potential__slide--third">
            <h2 class="potential-title">
                Unlock your wifi’s potential.
            </h2>
            <p class="potential-text">
                Both eero 6 and eero Pro 6 feature a built-in Zigbee smart home hub, making it easy to connect compatible
                devices with
                Alexa. So you can control certain lights, locks, plugs, and more—without the need to buy separate smart home
                hubs for
                each.
            </p>
            <a href="#" class="button">Learn More</a>
           
        </div>
    </div>
</section>